.container {
  margin: 150px auto;
  width: 50%;
  padding: 8px;
  font-size: 30px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  background-color: rgba(42, 157, 143, 0.6);
}

img {
  float: left;
  width: 310px;
  height: 200px;
  padding: 0 10px 0 0;
}

body {
  background-image: url(../images/289-2895659_gym-workout-hd-wallpapers-best-workout-music-mix.jpg);
}
