* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  background-image: url(../images/fitness-girl-workout-wallpapers-fitness-desktop-wallpaper-835335665.jpg);
  background-size: 100%;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 180px;
  object-fit: cover;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: rgba(42, 157, 143, 0.6);
  padding: 25px;
  margin: 50px 0;
  width: 40vw;
  transform: translatex(-200px);
  position: sticky;
}

#contact h3 {
  color: whitesmoke;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid white;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: whitesmoke;
  color: black;
  margin: 0px 0px 87px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: lightblue;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/* icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.icon-bar {
  padding: 20%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: rgba(42, 157, 143, 0.6);
  color: white;
  width: fit-content;
}

.fa-github {
  background: rgba(42, 157, 143, 0.6);
  color: white;
  width: fit-content;
}

.fa-linkedin {
  background: rgba(42, 157, 143, 0.6);
  color: white;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    background-image: url(../images/fitness-girl-workout-wallpapers-fitness-desktop-wallpaper-835335665.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: inherit;
  }
}

@media screen and (max-width: 768px) {
  #contact {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 14%;
  }

  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 17px;
    object-fit: cover;
    left: 22%;
  }

  .icon-bar {
    padding: 0;
  }
}
